.p {
    font-size: 14pt;
    color: var(--color-grayscale2);
    font-family: Georgia, serif;
    line-height: 1.4em;
}

root {
    background-image: url(https://s3.amazonaws.com/files.d20.io/images/105716505/oymO0pnVyLCv-tQDw2vddA/med.png);
    margin: 5px 10px 5px 10px;
    font-size: 1.5rem;
    font-family: Georgia, serif;
}

.tr {
    font-family: Mrs Eaves;
}

.spell-title {
    font-family: Mrs Eaves;
    color: #58170D;
    font-size: 3rem;
    font-weight: bolder;
    font-variant: small-caps;
    text-transform: capitalize;
    margin: -10px 0px -5px 0px;
}

.spell-field {
    color: #58170D;
    font-weight: bold;
}

.class-title {
    font-family: Mrs Eaves;
    color: #58170D;
    font-size: 3rem;
    font-weight: bolder;
    font-variant: small-caps;
    text-transform: capitalize;
    margin: -10px 0px -5px 0px;
}

.class-field {
    color: #58170D;
    font-weight: bold;
}

.booktemplate {
    background-image: url(https://s3.amazonaws.com/files.d20.io/images/105716505/oymO0pnVyLCv-tQDw2vddA/med.png);
    margin: 5px 10px 5px 10px;
    font-size: 1.5rem;
    font-family: Georgia, serif;
}

.table.dataTable tbody tr {
    height: 6px;
    width: 101%;
    border: 1px solid #2f2112;
    border-radius: 2px;
    margin: 5px 0px 5px -3px;
}